<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/product.css" />
    <title>Update Product</title>
</head>
<body>
    <% if (error) { %>
     <%= error %>
    <% } %>
    <form action="/products/update-products/<%= product.id %>" method="post">
     
        <label for="price">Price:</label>
        <input type="text" name="price" id="price" value="<%= product.price %>"><br>
        <label for="countInStock">Count In Stock:</label>
        <input type="number" name ="countInStock" id="countInStock" value="<%= product.countInStock %>" ><br>
        <label for="rating">Rating:</label>
        <input type="range" name="rating" id="rating" min="0" max="5"><br>
        <label for="numReviews">NumReviews</label>
        <input type="number" name="numReview" id="numReviews" value="<%= product.numReview %>"><br>
        <button type="submit">Update Product</button>
    </form>
</body>
</html>